*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
  
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    padding-left: 100px;
    margin-top: 6px;
    position: sticky;
    top:0px;
    background-color: white;
    z-index: 1;
}
.navbar__s1{
    display: flex;
}
.navbar__s1 h1{
    font-size:26px;  
}
.navbar__s1 img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
}
.navbar__s2{
    display: flex;
    justify-content: space-around;
    gap:25px;
    font-size:17px ; 
}
.navbar__s3 img{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 120px;
}
.navbar__s3 img:hover{
    cursor: pointer;
}
.navbar__s1{
    cursor: pointer;
}

.navbar__s2__one:hover{
    background-color: lightgrey;
    border-radius:10px ;
    cursor: pointer;
    border: transparent;
    width: max-content;
    height: auto;
    padding: 5px;
}
.navbar__s2__two:hover{
    text-decoration: underline;
    opacity: 0.6;
    cursor: pointer;
}
.where-to{
    font-size: 30px;
    padding-top: 10px;
    display: block;
    margin-top: 50px;
    margin-left: 550px;
}

.navbar__s2 h5 {
    width: max-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.categories{
    display:flex;
    gap:25px;
    width:800px;
    font-weight: 500;
    align-items: center;
    justify-content: space-around;
    margin-left: 380px;
    margin-top: 20px;
    font-size: 18px;
    
}
.categories img{
    height: 18px;
    width:18px;
}
.categories__one{
    border-bottom: black solid 2px;
}
.categories__one:hover{
    border-bottom: black solid 2px;
    cursor: pointer;
    opacity: 0.7;
}
.categories__two, .categories__three, .categories__four, .categories__five{
    border-bottom: 2px transparent solid;
}
.categories__two:hover{
    border-bottom: black solid 2px;
    cursor: pointer;
    opacity: 0.7;
}
.categories__three:hover{
    border-bottom: black solid 2px;
    cursor: pointer;
    opacity: 0.7;
}
.categories__four:hover{
    border-bottom: black solid 2px;
    cursor: pointer;
    opacity: 0.7;
}
.categories__five:hover{
    border-bottom: black solid 2px;
    cursor: pointer;
    opacity: 0.7;
}
.search{
    display: flex;
    gap:5px;
    border:2px lightgray solid;
    border-radius: 30px;
    height: 20px;
    width: max-content;
    background-color: white;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    margin-left: 330px;   
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
}
.search img{
    height: 20px;
    width: 20px;
}
.search input{
    height: 30px;
    width: 600px;
    background-color: transparent;
    font-size: 16px;   
    border: none; 
}
.search input:focus{
    outline: none;
}
.search button{
    background-color: lightgreen;
    border-radius:30px;
    padding:12px;
    font-size: 16px;
    width:120px;
    border:transparent;    
}
.search button:hover{
    cursor: pointer;
    background-color: rgb(175, 218, 175);
}
.image{
    position: relative;
    display: block;
}
.image img{
    height:500px;
    width:1150px;    
    border-radius: 10px; 
    margin-top: 60px;
    margin-left: 110px; 
}
.image__one h1{
    position: absolute;
    top:390px;
    left:150px;  
    color: white;
    
}
.image__one h3{
    position: absolute;
    top:435px;
    left:150px;  
    color: white;
}
.image__one button{
    background-color: white;
    font-size: 16px;
    padding: 15px;
    color: black;
    border-radius: 30px;
    position: absolute;
    top:490px;
    left: 150px;
    font-weight: bold;
}
.image__one button:hover{
    background-color: lightgrey;
    cursor: pointer;
    
}
.country{
    position: relative;
    height: 300px;
     width:100%;
     margin-top: 80px;
     margin-left: 100px;
}
.country__title{
    display: block;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}
.country__title p{
    font-size: 16px;
    color: grey;
    padding-top: 15px;
}
.see-more{
position: absolute;
right: 20px;
bottom: 200px;
text-decoration: underline;
font-weight: bold;
font-size: 16px;
}
.see-more:hover{
    color: grey;

}
.country__items{
    display: flex;
    overflow: scroll;
    gap:20px;
    height:310px;
    width:1157px;
    padding-top: 20px;
    
}
.country__items__one img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.country__items__two img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.country__items__three img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.country__items__four img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.country__items__five img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.country__items__one{
    position: relative;
}
.country__items__one:hover{
    opacity: 0.8;
    cursor: pointer;
}
.country__items__one__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.country__items__one__1 img:hover{
    cursor: pointer;
    background-color: gray;
}
.country__items__two{
    position: relative;
}
.country__items__two:hover{
    opacity: 0.8;
    cursor: pointer;
}
.country__items__two__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.country__items__three{
    position: relative;
}
.country__items__three:hover{
    opacity: 0.8;
    cursor: pointer;
}
.country__items__three__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.country__items__four{
    position: relative;
}
.country__items__four:hover{
    opacity: 0.8;
    cursor: pointer;
}
.country__items__four__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.country__items__five{
    position: relative;
    
}
.country__items__five:hover{
    opacity: 0.8;
    cursor: pointer;
}
.country__items__five__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.country__items__one h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.country__items__two h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.country__items__three h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.country__items__four h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.country__items__five h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.chennai{
    position: relative;
    height: 300px;
     width:fit-content;
     margin-top: 150px;
     margin-left: 100px;
}
.chennai__title{
    display: block;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}
.chennai__title p{
    font-size: 16px;
    color: grey;
    padding-top: 15px;
}
.chennai__items{
    display: flex;
    overflow: scroll;
    gap:20px;
    height:420px;
    width:1157px;
    padding-top: 20px;
}
.chennai__items img{
    height: 270px;
    width: 277px;
    border-radius: 20px;
}
.chennai__items h1{
    font-size: 16px;
}
.chennai__items__one{
    position: relative;
}
.chennai__items__one:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chennai__items__two:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chennai__items__three:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chennai__items__four:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chennai__items__five:hover{
    opacity: 0.8;
    cursor: pointer;
}
.chennai__items__one__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.chennai__items__two{
    position: relative;
}
.chennai__items__two__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.chennai__items__three{
    position: relative;
}
.chennai__items__three__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.chennai__items__four{
    position: relative;
}
.chennai__items__four__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.chennai__items__five{
    position: relative;
}
.chennai__items__five__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.chennai__items__one__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.chennai__items__two__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.chennai__items__three__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.chennai__items__four__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.chennai__items__five__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.asia{
    position: relative;
    height: 300px;
     width:fit-content;
     margin-top: 250px;
     margin-left: 100px;
}
.asia__title{
    display: block;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}
.asia__title p{
    font-size: 16px;
    color: grey;
    padding-top: 15px;
}
.asia__items{
    display: flex;
    overflow: scroll;
    gap:20px;
    height:310px;
    width:1157px;
    padding-top: 20px;
}
.asia__items__one img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.asia__items__two img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.asia__items__three img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.asia__items__four img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.asia__items__five img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}

.asia__items__one{
    position: relative;
}
.asia__items__one:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__two:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__three:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__four:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__five:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__one__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.asia__items__one__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.asia__items__two__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.asia__items__three__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.asia__items__four__1 img:hover{
    cursor: pointer;
    background-color: pink;
}
.asia__items__five__1 img:hover{
    cursor: pointer;
    background-color:pink;
}
.asia__items__two{
    position: relative;
}
.asia__items__two:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__two__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.asia__items__three{
    position: relative;
}
.asia__items__three:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__three__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.asia__items__four{
    position: relative;
}
.asia__items__four:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__four__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.asia__items__five{
    position: relative;
    
}
.asia__items__five:hover{
    opacity: 0.8;
    cursor: pointer;
}
.asia__items__five__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:210px;
   top:10px;
}
.asia__items__one h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.asia__items__two h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.asia__items__three h1{
    position: absolute;
    top:190px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.asia__items__four h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.asia__items__five h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.more{
    margin-top: 160px;
    font-size: 16px;
    background-color: bisque;
    width:1250px;
    padding: 40px;
    height:400px;
    
}
.moreimage{
    margin-left: 10px;
    display: flex;
    gap: 20px;
    padding:20px;
    flex-grow: 1;
    width:800px;
    position: relative;
}
.moreimage img{
    height:250px;
    width: 350px;
    border-radius: 20px;
    margin-left: 10px;
}
.moreimage img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.more__title h1{
    font-size: 24px;
  padding-left: 20px;
  margin-left: 10px;
}
.moreimage h3{
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
.moreimage h3:hover{
   opacity: 0.7;
    text-decoration: underline;
    cursor: pointer;
}
.choice{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    height:500px;
    width:1350px;
    position: relative;
    margin-top: 180px;
}
.choice img{
    height: 500px;
    width:750px;
}
.tet{
    padding-top: 80px;
    width:500px;
}
.tet h1{
    text-align:left;
    font-size: 50px;
    margin-left: 50px;
}
.tet p{
    text-align:left;
    font-size: 26px;
    margin-left: 50px;
}
.tet button{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    margin-left:50px;
    margin-top: 30px;
}
.tet button:hover{
    opacity: 0.8;
    cursor: pointer;
}
.dream{
    position: relative;
    height: 300px;
     width:1350px;
     margin-top: 50px;
     margin-left: 100px;
}
.dream__title{
    display: block;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}
.dream__title p{
    font-size: 16px;
    color: grey;
    padding-top: 15px;
}
.dream__items{
    display: flex;
    gap:30px;
    height:350px;
    width:250px;
    padding-top: 20px;
}
.dream__items__one img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.dream__items__two img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.dream__items__three img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.dream__items__four img{
    height: 270px;
    width: 270px;
    border-radius: 20px;
}
.dream__items__one img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.dream__items__two img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dream__items__three img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dream__items__four img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dream__items__five img:hover{
    cursor: pointer;
    opacity: 0.8;
}
.dream__items__one__1 img{
    cursor: pointer;
    background-color: pink;
}
.dream__items__two__1 img{
    cursor: pointer;
    background-color: pink;
}
.dream__items__three__1 img{
    cursor: pointer;
    background-color: pink;
}
.dream__items__four__1 img{
    cursor: pointer;
    background-color: pink;
}
.dream__items__five__1 img{
    cursor: pointer;
    background-color: pink;
}



.dream__items__one{
    position: relative;
}
.dream__items__one__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:220px;
   top:10px;
}
.dream__items__two{
    position: relative;
}
.dream__items__two__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:220px;
   top:10px;
}
.dream__items__three{
    position: relative;
}
.dream__items__three__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:220px;
   top:10px;
}
.dream__items__four{
    position: relative;
}
.dream__items__four__1 img{
    height:20px;
    width: 20px;
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding:10px;
   left:220px;
   top:10px;
}

.dream__items__one h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.dream__items__two h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.dream__items__three h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.dream__items__four h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.next{
    position: relative;
    height: 300px;
     width:100%;
     margin-top: 100px;
     margin-left: 100px;
}
.next__title{
    display: block;
    font-size: 14px;
    display: block;
    padding-top: 20px;
}
.next__title p{
    font-size: 16px;
    color: grey;
    padding-top: 15px;
}

.next__items{
    display: flex;
    
    gap:20px;
    height:310px;
    width:1157px;
    padding-top: 20px;
    
}
.next__items__one img{
    height: 272px;
    width: 272px;
    border-radius: 20px;
}

.next__items__two img{
    height: 272px;
    width: 272px;
    border-radius: 20px;
}
.next__items__three img{
    height: 272px;
    width: 272px;
    border-radius: 20px;
}
.next__items__four img{
    height: 272px;
    width: 272px;
    border-radius: 20px;
}

.next__items__one{
    position: relative;
}
.next__items__one:hover{
    opacity: 0.8;
    cursor: pointer;
}

.next__items__two{
    position: relative;
}
.next__items__two:hover{
    opacity: 0.8;
    cursor: pointer;
}

.next__items__three{
    position: relative;
}
.next__items__three:hover{
    opacity: 0.8;
    cursor: pointer;
}
.next__items__four{
    position: relative;
}
.next__items__four:hover{
    opacity: 0.8;
    cursor: pointer;
}
.next__items__five{
    position: relative;   
}
.next__items__five:hover{
    opacity: 0.8;
    cursor: pointer;
}
.next__items__one h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.next__items__two h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.next__items__three h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.next__items__four h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.next__items__five h1{
    position: absolute;
    top:200px;
    padding:10px;
    color:white;
    width:250px;
    font-size: 25px;
}
.footer{
    display: flex;
    background-color: rgb(177, 157, 164);
    justify-content: space-between;
    margin-top: 80px;
    height:300px;
    width: 1350px;
}

.terms img{
    height:50px;
    width:50px;
}
.footer1{
    margin:100px;
    margin-top: 50px;
    font-size: 12px;
    display: flex;
    height:300px; 
    gap: 20px;  
}
.footer1__one p{
    text-align: left;
    padding-top: 7px;
}
.footer1__one-1{
    font-size: 14px;
}
.footer1__one-2 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer1__two p{
    text-align: left;
    padding-top: 7px;
}
.footer1__two-1{
    font-size: 14px;
}
.footer1__two-2 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer1__three p{
    text-align: left;
    padding-top: 7px;
}
.footer1__three-1{
    font-size: 14px;   
}
.footer1__three-2 p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.footer2{
    margin:100px;
    margin-top: 50px;
    font-size: 13px;
    margin-right: 250px;
    height:200px;
   
}
.sites1{
    font-size: 14px;
}
.sites2 p{
    font-size: 12px;
}
.sites p{
      padding:5px; 
      margin-left: 100px;  
}
.viator-link {
    text-decoration: none;
  }
  
.viator-link:hover {
    text-decoration: underline; 
    opacity: 0.8;
    cursor: pointer;
  }
  .ended{
    display: flex;
    background-color: rgb(177, 157, 164);
    height:80px;
    width: 1350px;
    display: inline-flex;
    align-items:self-start;
  }  
  
  .ended_1 img{
    height:50px ;
    width: 50px;
    margin-left: 100px;
    border-radius: 50px;
  }
  .ended_2{
    padding-left: 10px; 
  }
  .ended_2 p{
    font-size: 11px;
  }
   .term1 {
    text-decoration: underline;
    display: flex;
    gap: 8px;
    width:600px;
    flex-wrap: wrap;
    color: rgb(51, 49, 49);
    padding-top: 5px;
 }
 .term1 h5:hover{
    color:grey;
 }
 .endd{
    display: flex;
    background-color: rgb(177, 157, 164);
    height:100px;
    width: 1350px;
    
  }  
.endd p{
        
        background-color: rgb(177, 157, 164);
        height:100px;
        width: 700px;     
        font-size: 10px; 
        margin-left: 100px;    
}
.more-link {
    text-decoration: none;
  }
  
.more-link:hover {
    text-decoration: underline; 
    opacity: 0.8;
    cursor: pointer;
  }
.endd_1{
    display: inline;
    margin-left: 50px;

}
.endd_1 select{
    border-radius: 20px;
    height:30px;
    width:200px;
    font-weight: bolder;
    border:2px solid gray;
    
}
.endd_1 option{
    font-weight: 18px;
    font-weight: bolder;
}
.endd{
    display: flex;    
    justify-content: space-between;
}
.endd p{
    width: 600px;
    margin-left: 100px;
}

.socialmedia{
    display:flex;
    gap:15px;
    margin-right: 150px;
    
}
.socialmedia i:hover{
    cursor: pointer;
    opacity: 0.8;
}
.navbar_menu{
    display: none;
}


.endd_rev{
    display: none;
}
.ended_rev{
    display: none;
}
.socialmedia_rev{display: none;
}
.ended2_rev{
    display:none;
}
.plus_rev{
    display: none;
}

@media screen and (max-width:600px) 
{
.navbar_menu{
    display: inline;
    margin-left: -80px;
}
.navbar_menu:hover{
    cursor: pointer;
}
.navbar__s2 ,.navbar__s3{
    display: none;
} 
.navbar__s1 h1{
    font-size:17px;  
}
.navbar__s1 img{
    height: 30px;
    width: 30px;
    border-radius: 50px;
}
.navbar{
    display: inline-flex;
    flex-direction: row;
    gap:130px;
    margin-top:20px;    
    position: sticky;  
}
.navbar__s1{
    margin-right: 300px; 
}
.where-to{
    display: none;
}
.categories {
    display:inline-flex;
    overflow-x:scroll;
    
    gap:5px;
    height: 100px;
    width:600px;
    margin-top: 10px; 
     margin-left: 20px;
     position: relative;
}
.categories p{
    font-weight: 500;
    font-size: 14px;


}

.search_1{
    display:flex;
    gap:20px;
    border-bottom:2px gray dotted;
    width:400px;    
}
.search{
    display: block;
    margin-left:20px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 10px;
    border:grey 2px solid;
    box-shadow: 2px;
    height:100px; 
    width:400px; 
}
.search button{
   margin-top: 20px;
    width:400px;
}
.image img{
    width:440px;
    margin-left:20px;    
}
.image__one{
    height:500px;
}
.image__one h1{
    text-align: left;
    margin-left:-100px; 
    margin-top: -50px;
}
.image__one h3{
    text-align: left;
    margin-left:-110px; 
   
}
.image__one button{
    text-align: left;
    margin-left:-110px;    
}
.country{
    margin-left: 20px;
    margin-top: -500px;
}
.country__title p{
    font-size: 13px;   
}
.see-more{
    font-size: 14px;
}
.country__items{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    height:310px;
    width:500px;
    padding-top: 20px;  
}
.chennai{
    margin-left: 20px;
    }
.chennai__title p{
     font-size: 13px;   
}
.chennai__items{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    height:420px;
    width:500px;
    padding-top: 20px;  
}

.asia{
    margin-left: 20px;
}
.asia__items{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    height:300px;
    width:500px;
    padding-top: 20px;  
}
.moreimage{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    width:350px;   
}
.dream{
    margin-left: 20px;
    
}
.dream__items{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    width:420px;  
    height:300px;
    margin-bottom: 50px;
}
.next{
    margin-left: 20px;
    margin-top: 150px;
}
.next__items{
    display: flex;
    overflow-x: scroll;
    gap:20px;
    height:310px;
    width:420px;
    padding-top: 20px;  
}
.see-more:hover{
    cursor:pointer;
}
.tet h1{
    font-size: 32px;
}
.choice{
    display: flex;
    flex-direction: column;
    gap:2px;
    height:500px;
    width:480px;   
}
.tet{
    margin-top:0px;
}
.tet p{
    font-size: 20px;  
}
.tet button{
    margin-bottom: 10px;
}
.choice img{
    width:480px;
    height:300px;
}
.footer{
    display: none;
}
.plus_rev {
    height:210px;
    width:485px;
    margin-top: 100px;
    background-color: rgb(177, 157, 164);
    display: block;
} 

.plus_rev p{
    padding-top:20px;
    margin-left: 20px;
}

.end_rev{
    display: none;
}
.endd{
    display: none;
}
.ended{
    display: none;
}
.plus_rev p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: grey;
}
.ended_rev{
    display: flex;
    flex-direction: column;
    background-color: rgb(177, 157, 164);
    height:100px;
    width: 550px;
    align-items:self-start;
    margin-top: 0px;
  }  
  .ended2_rev{
    display: inline-flex;
    background-color: rgb(177, 157, 164);
    height:100px;
    width: 565px;
    align-items:self-start;
    margin-top: 0px;
    margin-left: -80px;
    padding-top: 30px;
  }
  
  .ended_reve_1 img{
    height:50px ;
    width: 50px;
    margin-left: 100px;
    border-radius: 50px;
  }
  .ended_rev_2{
    padding-left: 10px; 
  }
  .ended_rev_2 p{
    font-size: 11px;
  }
   .term1_rev_use {
    text-decoration: underline;
    display: flex;
    gap: 8px;
    width:300px;
    flex-wrap: wrap;
    color: rgb(51, 49, 49);
    padding-top: 5px;
 }
 .term1_rev_use h5:hover{
    color:grey;
 }
 .endd_rev{
    display: flex;
    background-color: rgb(177, 157, 164); 
    width: 485px;  
  }  
.endd_rev p{
        
        background-color: rgb(177, 157, 164);
        height:60px;
        width: 480px;     
        font-size: 10px;
        padding-top: 20px; 
        margin-left:10px;   
         
}
.more-link {
    text-decoration: none;
  }
  
.more-link:hover {
    text-decoration: underline; 
    opacity: 0.8;
    cursor: pointer;
  }
.endd_rev_1{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-left: 20px;
   margin-top: 30px;
   width: 485px;

}
.endd_rev_1 select{
    border-radius: 20px;
    height:30px;
    width:450px;
    
    font-weight: bolder;
    border:2px solid gray;
    
}
.endd_rev_1 option{
    font-weight: 18px;
    font-weight: bolder;
}

.socialmedia_rev{
    display:flex;
    gap:15px;
    padding-left: 350px;
    background-color: rgb(177, 157, 164);
    width: 400px;
    padding-top:15px;

    
}
.socialmedia_rev i:hover{
    cursor: pointer;
    opacity: 0.8;
}




}





